@charset "UTF-8";

@font-face {
  font-family: Passion one;
  src: url(Fontes/Passion_One/PassionOne-Regular.ttf);
}

@font-face {
  font-family: Sriracha;
  src: url(Fontes/Sriracha/Sriracha-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

html body {
  min-height: 100vh;
  background-color: darkgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: black;
  color: whitesmoke;
  text-align: center;
}

header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
  font-family: Passion one;
  font-size: 10vw;
}

header > p {
  padding-bottom: 50px;
}

header a,
footer a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
  font-family: Sriracha;
  font-size: 2vw;
}

section > p {
    padding-bottom: 2em;
}

.normal {
  background-color: whitesmoke;
  color: black;
}

.imagem {
  background-color: black;
  color: whitesmoke;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.500);
}

.imagem > p {
  display: inline-block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 0px black;
}

#img01 {
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

#img02 {
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

footer {
  background-color: black;
  text-align: center;
  color: whitesmoke;
  padding: 10px;
}
